<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MoPrInJava</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>ListJobPostings.jsp</welcome-file>
		<welcome-file>JobPosting.jsp</welcome-file>
		<welcome-file>JobSeeker.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>JobServlet</servlet-name>
		<servlet-class>com.su.java.JobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobServlet</servlet-name>
		<url-pattern>/JobServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobPostingServlet</servlet-name>
		<servlet-class>com.su.java.JobPostingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobPostingServlet</servlet-name>
		<url-pattern>/JobPostingServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ListJobPostingsServlet</servlet-name>
		<servlet-class>com.su.java.ListJobPostingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListJobPostingsServlet</servlet-name>
		<url-pattern>/ListJobPostingsServlet</url-pattern>
	</servlet-mapping>
</web-app>